  <!-- TODO: add a back button -->

  <section class="portfolio-single">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h3>iPhone 6 design concept</h3>
          <p>Creando dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
          <p>European minnow priapumfish mosshead warbonnet shrimpfish bigscale. Cutlassfish porbeagle shark ricefish walking catfish glassfish Black swallower. </p>
          <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar. </p>
          <hr>


          <ul class="item-meta">
            <li>
              <strong>Client - </strong>Themeforest</li>
            <li>
              <strong>Date - </strong>December 27th, 2013</li>
            <li>
              <strong>Skills/Tools Used - </strong>Canon EOS 5D, Photography, Branding</li>
          </ul>
          <a href="#" class="btn">Project link</a>
        </div>
        <!-- End .col-xs-6 -->
        <div class="col-xs-6">
          <div class="single-project">
            <img class="img-responsive" src="http://placehold.it/1100x856" alt="">
            <img class="img-responsive" src="http://placehold.it/1100x856" alt="">
          </div>
          <!-- End .single-project -->
        </div>
        <!-- End .col-xs-6 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </section>
